@import "tailwindcss";

@layer utilities {
  .font-serif {
    font-family: 'Playfair Display', serif;
  }

  .font-sans {
    font-family: 'Inter', sans-serif;
  }
}



body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f4f6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  font-family: 'Inter', sans-serif;
}